@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  text-decoration: none;
  color: white;
}

input, textarea {
  outline: none;
}

a, a:hover {
  text-decoration: none;
}

.navigator {
  height: 50px;
  background-color: #042b3a;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav_button {
  padding: 16px 25px;
  margin-left: 1px;
  color: #ccc;
  cursor: pointer;
}

.nav_button:hover,
.nav_button:focus
.nav_button:active {
  color: white;
  background-color: #004863;
}